@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
a, a:link {
	text-decoration:underline;
	color:#68A709;
}
a:hover, a:active {
	outline-style: none;
	outline-width: medium;
	text-decoration:none;
}
ol, ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	color:#fff;
}
h1 {
	font-size:24px;
	padding:0 0 8px 0;
	font-weight:normal;
	text-align:left;
}
h2 {
	/*font-size:18px;
	padding:0 0 8px 0;
	font-weight:normal;
	text-align:left;*/
	    color: #67A30D;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 10px 7px;
    text-shadow: 1px 1px 0 #ECECEC;
    width: 200px;
}
p {
	padding: 0 0 10px 0;
	text-align:justify;
	line-height:18px;
	text-shadow: 1px 1px 0 #e1e1e1;
}
body {
	color:#868686;
	background:#f5f5f5 /*url(images/background.png) 0 0 repeat*/;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	line-height:20px;
	text-shadow: 1px 1px 0 #ECECEC;
}
#wrapper {
	width:990px;
	margin:0 auto;
}
#topBg {
	background:url(images/top.png) left top repeat-x;
	width:100%;
	height:21px;
}
.top {
	float:left;
	width:945px;
	padding:10px 15px 0 30px;
}
.socialIcons {
	float:left;
	background:url(images/social-icon-bg.png) 0 0 no-repeat;
	width:121px;
	height:35px;
	padding:0 0 0 21px;
}
.facebook {
	float:left;
	width:30px;
	height:26px;
	margin:0 5px 0 0;
}
.facebook a {
	float:left;
	background:url(images/fb.png) 0 0 no-repeat;
	width:30px;
	height:26px;
	text-indent:-9999px;
}
.facebook a:hover {
	background:url(images/fb-hover.png) 0 0 no-repeat;
}
.twitter {
	float:left;
	width:30px;
	height:26px;
	margin:0 5px 0 0;
}
.twitter a {
	float:left;
	background:url(images/tw.png) 0 0 no-repeat;
	width:30px;
	height:26px;
	text-indent:-9999px;
}
.twitter a:hover {
	background:url(images/tw-hover.png) 0 0 no-repeat;
}
.gplus {
	float:left;
	width:30px;
	height:26px;
}
.gplus a {
	float:left;
	background:url(images/gp.png) 0 0 no-repeat;
	width:30px;
	height:26px;
	text-indent:-9999px;
}
.gplus a:hover {
	background:url(images/gp-hover.png) 0 0 no-repeat;
}
.contactNo {
	float:right;
	background:url(images/contact-no.png) 0 0 no-repeat;
	width:148px;
	height:31px;
	font-size:15px;
	font-weight:bold;
	text-align:left;
	color:#ffc400;
	padding:18px 0 0 43px;
}
.header {
	background:#fff;
	float:left;
	width:974px;
	padding:8px;
	border-radius:5px;
	box-shadow: 0 0 5px #d1d1d1;
	border:1px solid #ddd;
}
.headerInner {
	float:left;
	background:url(images/header_inner.png) 0 0 no-repeat;
	width:971px;
	height:140px;
	padding:0 0 0 5px;
}

.boxheadingInner #navigation
{
    left: -12px; 
    position: absolute; 
    top: -183px;
     display: none;
     font-weight: normal;
}

.boxheadingInner:hover #navigation
{
    display:block;
}
.logoSection {
	float:left;
	width:249px;
	height:68px;
	padding:0;
}
.deliverdArea {
	float:left;
	background:url(images/area-mark.png) 0 0 no-repeat;
	width:183px;
	height:33px;
	text-align:center;
	color:#6baf0a;
	font-size:13px;
	font-weight:bold;
	padding:31px 0 0 0;
	margin:0 0 0 90px;
}

#deliveredAreaPopup
{
    display:none;
    position:absolute;
    margin-top:10px;
    text-align:left;
    font-weight:normal;
    color:#868686;
   
    background-color:#FFD700;
background-repeat-x: repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0%;
background-position-y: 100%;
background-origin: initial;
background-clip: initial;
}

#deliveredAreaPopup span
{
   margin:40px;
    background-color:#FFD700;
}

.deliverdArea:hover #deliveredAreaPopup
{
    display:block;
    z-index:1000;
    }
.mainlogo {
	float:left;
	background:url(images/logo.png) 0 0 no-repeat;
	width:270px;
	height:33px;
	text-align:center;
	color:#6baf0a;
	font-size:13px;
	font-weight:bold;
	padding:31px 0 0 0;
	
}

.headerRight {
	float:right;
	width:300px;
	padding:2px 0 0 0;
}
.headerNav {
	color:#6baf0a;
	float:right;
	font-size:12px;
	padding:0 0 0 0;
	text-align:left;
	width:auto;
}
.headerNav a {
	color: #323232;
	font-weight:normal;
	text-decoration: none;
}
.headerNav a:hover {
	color: #323232;
	opacity:0.7;
	text-decoration:underline;
}
.headerNav a.active {
	color: #323232;
	opacity:0.7;
}
.cartBg {
	float:right;
	width:auto;
	padding:16px 6px 0 0;
}
.cartDiv {
	float:right;
	background:url(images/cart-button.png) 0 0 no-repeat;
	width:168px;
	height:30px;
	font-size:14px;
	color:#fff;
	text-shadow:1px 1px #ddaa00;
	font-weight:bold;
	text-align:center;
	padding:7px 0 0 0;
	margin:0 0 10px 0;
}
.strip-gstarted {
	background:url(images/strip-bg.png) 0 0 repeat-x;
	float:left;
	width:946px;
	height:41px;
	border-radius:5px;
	box-shadow:0 0 5px #767676 inset;
	padding:9px 10px 0 10px;
}
.category {
	float:left;
	width:238px;
	position:relative;
	z-index:100;
	padding:0;
}
.boxHeading {
	background: url(images/categories-head.png) 0 0 no-repeat;
	width:224px;
	height:27px;
	color: #FFFFFF;
	font-size:14px;
	font-weight:bold;
	text-shadow: 1px 1px 0 #d4a900;
	padding:3px 0 0 14px;
}

.boxHeading #navigation
{
    left: -12px; 
    position: absolute; 
    top: -183px;
     display: none;
     font-weight: normal;
}

.boxHeading:hover #navigation
{
    display:block;
}
/* vertical menu */

#navigation {
	width:236px;
	
}
#navigation ul {
	margin: 0px;
	padding: 0px;
}
ul.top-level {
	background: #666;
	border:2px solid #FFCE00
}
#navigation li {
	list-style: none;
}
ul.top-level li {
	background: url(images/bg-li.png) #ffffff left bottom repeat-x;
	padding: 8px 10px 8px 5px;
}
#navigation a {
	color:#868686;
	text-shadow:1px 1px #ececec;
	font-size:11px;
	cursor: pointer;
	display:block;
	text-indent: 10px;
	text-decoration:none;
	width:100%;
}
#navigation a:hover {
	text-decoration:none;
	color:#f8af12;
}
#navigation li:hover {
	position: relative;
}
ul.sub-level {
	display: none;
}
li:hover .sub-level {
	background: #999;
	border:1px solid #e1e1e1;
	display: block;
	position: absolute;
	left:210px;
	top: 5px;
	z-index:99999;
}
ul.sub-level li {
	border: none;
	float:left;
	width:200px;
}
#navigation .sub-level {
	background: #999;
}
#navigation .sub-level .sub-level {
	background: #09C;
}
/*IE RESET HELPER*/
	li:hover .sub-level .sub-level {
	display:none;
}
.sub-level li:hover .sub-level {
	display:block;
}
/* vertical menu end */

#search {
	float: right;
	margin-right: 11px;
	position: relative;
}
#search input {
	background:#fff;
	box-shadow:0 0 5px #e8e8e8 inset;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#737373;
	float:left;
	height:19px;
	line-height:21px;
	border:1px solid #e4e4e4;
	border-radius:8px;
	padding:4px 40px 6px 13px;
	width:370px;
}
#search .button-search {
	background: url(images/button-search.png) no-repeat scroll left top transparent;
	float: right;
	height: 18px;
	right: 11px;
	position: absolute;
	top: 8px;
	width: 17px;
}
#search .button-search:hover {
	background-position: 0 bottom;
	cursor: pointer;
}
.contentWrapper {
	float:left;
	width:990px;
	padding:4px 0 0 0;
}
.rightCol {
	float:right;
	width:714px;
}
.scrollBg {
	float:left;
	background:#f0f0f0;
	width:712px;
	color:#505050;
	font-weight:bold;
	height:30px;
	border:1px solid #dad9d9;
	box-shadow:0 0 5px #d4d4d4 inset;
	border-radius:5px;
	padding:6px 0 0 0;
	margin:0 0 8px 0;
}
.scrollBg a {
	color:#505050;
}
.scrollBg a:hover {
	opacity:0.7;
	text-decoration:underline;
}
.whatsNew {
	float:left;
	background:#ffc400;
	color:#fff;
	font-weight:bold;
	text-shadow: 1px 1px 0 #D4A900;
	width:auto;
	height:28px;
	position:absolute;
	z-index:1;
	top:251px;
	padding:8px 5px 0 5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.whiteboxBg {
	float:left;
	background:#fff;
	width:699px;
	box-shadow: 0 0 5px #d1d1d1;
	border-radius:5px;
	margin:0 0 12px 0;
	padding:7px;
	border:1px solid #ddd;
	min-height:352px;
}
.whiteboxBg h1 {
	background:url(images/strip-bg.png) 0 0 repeat-x;
	float:left;
	width:679px;
	color:#FFF;
	font-size:14px;
	text-shadow: 1px 1px 0 #67a30d;
	font-weight:bold;
	border-radius:5px;
	box-shadow:0 0 5px #767676 inset;
	padding:3px 10px 7px 10px;
}
h1
{
    background: url(http://localhost:5001/App_Themes/Store/images/strip-bg.png) repeat-x 0px 0px;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
color: white;
float: left;
font-size: 14px;
font-weight: bold;
padding: 3px 10px 7px;
text-shadow: #67A30D 1px 1px 0px;
width: 679px;
}
.boxProduct {
	float:left;
	margin: 0;
	padding:10px 0;
	width: 120%;
}
.boxProduct ul li {
	border:1px solid #e1e1e1;
	float:left;
	margin:0 10px 10px 0;
	position:relative;
	text-align: left;
	width:165px;
}

.item-box
{border:1px solid #e1e1e1;
	float:left;
	margin:0 10px 10px 0;
	
	text-align: left;
	width:165px;
}
.boxProduct ul li.last-in-line {
	margin-right: 0;
}
.boxProduct .image1 {
	border-bottom: 1px solid #EAEAEA;
	display: block;
	padding:24px 0;
	text-align: center;
}
.boxProduct ul li .inner {
	background:url(images/inner-bg.jpg) repeat-x scroll left top #6daf0b;
	float:left;
	width:149px;
	padding:8px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	text-align:center;
	text-shadow: 1px 1px 0 #67A30D;
}

.boxproductinner
{
    background:url(images/inner-bg.jpg) repeat-x scroll left top #6daf0b;
	float:left;
	width:149px;
	padding:8px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	text-align:center;
	text-shadow: 1px 1px 0 #67A30D;
}
.boxProduct ul li .inner a {
	text-decoration:none;
	color:#fff;
}

.boxproductinner a {
	text-decoration:none;
	color:#fff;
}
.boxProduct ul li .inner a:hover {
	color:#3d6305;
}

.boxproductinner a:hover {
	color:#3d6305;
}
.leftcolIndex {
	float:left;
	width:262px;
	padding:385px 0 0 0;
}
.specialOffer {
	float:left;
	width:262px;
	height:126px;
	margin:0 0 10px 0;
}
.specialOffer img:hover {
	opacity:0.9;
}
.orangeBox {
	float:left;
	background:url(images/free-shipping.png) 0 0 no-repeat;
	width:262px;
	height:92px;
	margin:0 0 5px 0;
}
.orangeBox2 {
	float:left;
	background:url(images/swipe-cash-delivered.png) 0 0 no-repeat;
	width:262px;
	height:92px;
	margin:0 0 5px 0;
}
.whiteboxLeft {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px #D1D1D1;
	float: left;
	margin: 0 0 12px;
	padding: 7px;
	width:246px;
	border:1px solid #ddd;
}
.whiteboxLeft h1 {
	background:url(images/strip-bg.png) 0 0 repeat-x;
	float:left;
	width:228px;
	color:#FFF;
	font-size:14px;
	text-shadow: 1px 1px 0 #67a30d;
	font-weight:bold;
	border-radius:5px;
	box-shadow:0 0 5px #767676 inset;
	padding:3px 10px 6px 10px;
}
.requestProduct {
	float:left;
	width:248px;
}
.requestProduct .textbox {
	background:#fff;
	border: 1px solid #e4e4e4;
	box-shadow:0 0 5px #e8e8e8 inset;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-radius:5px;
	color:#555555;
	float:left;
	font-size:11px;
	height:25px;
	margin:0 0 10px 0;
	padding:0 0 0 5px;
	width:240px;
}
.requestProduct .textarea {
	background:#fff;
	border: 1px solid #e4e4e4;
	box-shadow:0 0 5px #e8e8e8 inset;
	border-radius:5px;
	color: #555555;
	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:10px 0 10px 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding:5px 0 0 5px;
	width:240px;
}
.requestProduct .textarea {
	height:50px;
}

.sendBtn a {
	background:url(images/send.png) no-repeat scroll 0 0 transparent;
	color:#fff;
	float: right;
	font-size:12px;
	font-weight: bold;
	height:24px;
	margin:0;
	padding:3px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow:none;
	width:73px;
}
.sendBtn a:hover {
	text-decoration: none;
	color:#694904;
}
/* banner */

#slideshow {
	position:relative;
	height:224px;
}
#slideshow DIV {
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0.0;
}
#slideshow DIV.active {
	z-index:10;
	opacity:1.0;
}
#slideshow DIV.last-active {
	z-index:9;
}
#slideshow DIV IMG {
	width:699px;
	display: block;
	border: 0;
	border:1px solid #efefef;
	border-radius:5px;
}
/* banner end */

.ad {
	float:left;
	background:#dcdcdc;
	width:713px;
	height:90px;
}
.footerWrapper {
	background:#dcdcdc url(images/footer-bg.png) 0 0 repeat-x;
	float: left;
	margin:10px 0 0 0;
	clear:both;
	overflow:hidden;
	padding:25px 0 0 0;
	width: 100%;
}
.footer {
	clear:both;
	overflow:hidden;
}
.footerOuter {
	margin:0 auto;
	width:990px;
}
.footerCol {
	background:url(images/footer-col-bg.png) right top repeat-y;
	float: left;
	margin:0 20px 0 0;
	padding:0 20px 0 0;
	width:150px;
	height:163px;
}
.footerCol h4 {
	font-size:13px;
	color:#494949;
	font-weight:bold;
	text-shadow:none;
}
.footerCol ul {
	padding: 0 0 0 0;
	display:inline;
}
.footerCol ul li {
	font-size:11px;
	width:150px;
	float:left;
	padding:0;
}
.footerCol ul li a {
	float:left;
	width:150px;
	color:#747474;
	font-weight:bold;
	line-height:20px;
	text-align:left;
	text-transform: capitalize;
	text-decoration:none;
	padding:0;
}
.footerCol li a:hover {
	text-decoration:underline;
}
.footerCol li a.active {
	color:#cb3e00;
	text-decoration:underline;
}
.footer_testimonial {
	float: right;
	width: 343px;
}
.footer_testimonial h1 {
	color:#000000;
	float: left;
	font-size:18px;
	text-shadow: 1px 1px 0 #cccccc;
	margin:0;
	padding:0 0 10px 0;
	width:303px;
}
.testimonial {
	background:#fff;
	border:1px solid #bbbbbb;
	color:#494949;
	float: left;
	box-shadow:0 0 5px #767676 inset;
	font-size: 12px;
	padding:10px;
	text-align: justify;
	width: 331px;
}
.poweredBg {
	float:left;
	width:100%;
	background:#d4d4d4;
	margin:20px 0 0 0;
	padding:5px;
}
.powered {
	width:990px;
	color:#8a8a8a;
	font-size:11px;
	margin:0 auto;
	text-align: left;
}
/* grocery page */

.leftCol {
	float:left;
	width:262px;
	padding:0 0 0 0;
}
.boxheadingInner {
	background: url(images/categories-head-inner.png) 0 0 no-repeat;
	width:224px;
	height:27px;
	color: #FFFFFF;
	font-size:14px;
	font-weight:bold;
	text-shadow: 1px 1px 0 #d4a900;
	padding:3px 0 0 14px;
	margin-top: 3px; 
	margin-left: -1px;
}
.menu {
	float:left;
	width:262px;
	padding:0;
}
.menuHeading {
	background: url(images/categories-head2.png) 0 0 no-repeat;
	width:248px;
	height:27px;
	color: #FFFFFF;
	font-size:14px;
	font-weight:bold;
	text-shadow: 1px 1px 0 #d4a900;
	padding:3px 0 0 14px;
}
.menuContent {
	background:#FFFFFF;
	border:1px solid #e1e1e1;
	border-radius:0 0 5px 5px;
	overflow:hidden;
}
.boxCategory {
	text-align:left;
}
.boxCategory ul {
	list-style:none;
	margin: 0;
	padding: 0;
}
.boxCategory ul li {
	background: url(images/bg-li.png) #ffffff left bottom repeat-x;
	padding: 8px 10px 8px 5px;
	position: relative;
	border:none;
}
.boxCategory ul li:hover {
	opacity:0.7;
}
.boxCategory ul li a {
	color:#868686;
	text-shadow:1px 1px #ececec;
	display: inline-block;
	font-size:11px;
	padding-left: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.boxCategory ul li a:hover {
	text-decoration: none;
	opacity:0.9;
}
.boxCategory ul li a.active {
	text-decoration: none;
	color:#6baf0a;
	font-weight:bold;
}
.boxCategory ul li span {
	background:url(images/menu-active.png) right center no-repeat;
	float:right;
	width:11px;
	height:10px;
	position:relative;
	top:5px;
}
.breadcrumb {
	color:#383737;
	font-size: 12px;
	padding:0 0 2px 0;
}
.breadcrumb a.last {
	color:#6baf0a;
}
.breadcrumb a {
	color:#545759;
	text-decoration: none;
}
.breadcrumb a:hover {
	color: #6baf0a;
}
.price {
	padding:6px 0;
	margin:0;
	color: #A4D9F4;
	font-size:12px;
	font-weight: normal;
	line-height: normal;
}
.price-new {
	color: #ffe17c;
}
.price-old {
	font-weight: normal;
	margin-left: 10px;
	display: inline-block !important;
	text-decoration: line-through;
	color: #c7c7c7;
	font-weight: normal;
}
.pro_field {
	font-size:10px;
	float:left;
	margin:0;
	padding:5px 0 0 0;
	width:auto;
}
.pro_qty {
	float: left;
	margin:0;
	padding: 0;
	width:33px;
}
.pro_grams_dropdown {
	float: left;
	font-size: 6px;
	height: 21px;
	margin:0;
	padding:0;
	width:50px;
}
.pro_grams_dropdown select {
	width:50px;
}
select {
	border: 1px solid #999999;
	padding: 1px;
}
.addtoCart {
	float:right;
	background:url(images/cart_put.png) 0 0 no-repeat;
	width:32px;
	height:32px;
}
.addcart_img {
	float:right;
	height: 32px;
	padding: 0;
	width:32px;
}
.addcart_img img {
	border: 0 none;
	cursor: pointer;
	float:right;
}
.addtocartbutton {
	background:url(images/cart_put.png) 0 0 no-repeat;
	height:32px;
	width:32px;
	cursor:pointer;
}

.removebutton {
	background:url(images/delete_button.png) 0 0 no-repeat;
	height:25px;
	width:25px;
	cursor:pointer;
}
.addtocartbutton:hover {
	background:url(images/cart_put_hover.png) 0 0 no-repeat;
	height:32px;
	width:32px;
}
.cartBox {
	float:left;
	width:262px;
	padding:0;
	margin:0 0 10px 0;
	
	
}
.cartHeading {
	background: url(images/categories-head2.png) 0 0 no-repeat;
	width:248px;
	height:27px;
	color: #FFFFFF;
	font-size:14px;
	font-weight:bold;
	text-shadow: 1px 1px 0 #d4a900;
	padding:3px 0 0 14px;
}
.cartContent {
	background:#FFFFFF;
	border:1px solid #e1e1e1;
	border-radius:0 0 5px 5px;
	padding:10px 0 0 0;
	overflow:hidden;
}
.cartInner {
	float:left;
	width:257px;
	height:157px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:0 10px 0 5px;
}
.cartInner table td {
	border-bottom:1px dotted #D2D2D2;
	font-size:11px;
	color:#7f7f7f;
	padding:3px 12px;
	text-align:center;
}
.cartBottom {
	float:left;
	width:247px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:0 10px 10px 5px;
}
.cartBottom table td {
	border-bottom:1px dotted #D2D2D2;
	font-size:11px;
	color:#7f7f7f;
	padding:3px 12px;
	text-align:center;
}

.miniGm {
	float: left;
	width:100%;
	font-size:10px;
	color:#845a00;
	margin: 0;
	padding: 0;
	text-align:center;
}
.cartFinal {
	float:left;
	width:252px;
}
.checkOut {
	float:right;
	width:auto;
	margin:5px 8px 0 0;
}
.checkOut a {
	background:url(images/check-out-btn.png) no-repeat scroll 0 0 transparent;
	color:#fff;
	float: right;
	font-size:12px;
	font-weight: bold;
	height:27px;
	padding:5px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px #DDAA00;
	width:113px;
}
.checkOut a:hover {
	text-decoration: none;
	color:#977c00;
}
.grandTotal{
	color:#6cad0a;
}
.cart_header_arrow {
	float: right;
	position:relative;
	z-index:100;
	margin:0;
	padding:0;
	top:8px;
	width:21px;
}
/* horizontal menu */

#navstripTitle{
	float:left;
	background:url(images/menu-strip-title.png) 0 0 no-repeat;
	width:185px;
	height:30px;
	color:#fff;
	font-size:13px;
	text-align:center;
	text-shadow: 1px 1px 0 #67A30D;
	padding:5px 0 0 0;
}

#nav {
	float:right;
	background:url(images/nav-bg2.png) 0 0 repeat-x;
	width:985px;
	height:40px;
	margin:0 0 5px 0;
	
	z-index:0 !important;
	padding:0 5px 0 0;
}
#nav li a, #nav li {
	float: left;
}
#nav li {
	list-style: none;
	position: relative;
	border-right:1px solid #ddd;
	border-left:1px solid #fff;
}
#nav li.first {
	border-left:none;
}
#nav li.last {
	border-right:none;
}
#nav li a {
	padding:7px 12px;
	text-decoration: none;
	color:#757575;
}
#nav li a.active {
	background:url(images/nav-active.png) top center no-repeat;
	color:#6eb10a;
}
#nav li a:hover {
	color:#6eb10a;
}
/* Submenu */

#nav li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0;
	margin: 0;
	box-shadow:2px 2px 3px #666;
}
#nav li:hover ul {
	display: block;
}
/*
#nav li:hover ul li {
	display: none;
}
*/
#nav li ul li, #nav li ul li a {
	float: none;
}
#nav li ul li {
	_display: inline; /* for IE6 */
}
#nav li ul li a {
	background:#f0f0f0 url(images/nav-li-bg.png) 0 0 repeat-x;
	width: 140px;
	display: block;
	position:relative;
	z-index:0 !important;
	padding:4px 5px;
	font-size:11px;
	border:1px solid #f5f5f5;
}
/* SUBSUB Menu */

#nav li ul li ul {
	display: none;
}
#nav li ul li:hover ul {
	left: 100%;
	top: 0;
}

/* horizontal menu end */


/* registration page */

.boxRegister {
    float: left;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
.regBox{
	float:left;
	width:100%;
	margin:0 0 5px 0;
}
.boxRegister label{
	float: left;
	width:150px;
	color:#868686;
	font-size:12px;
	display: inline;
	text-align:right;
	vertical-align:top;
	padding:4px 2px 0 0; 
	text-shadow: 1px 1px 0 #ECECEC;
	text-transform:capitalize;
}
.boxRegister input.txt, textarea, select{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #E8E8E8 inset;
    color: #555555;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 25px;
    margin:0 5px 10px 3px;
    padding: 0 0 0 5px;
    width:295px;
}

.datepicker .txt
{
     background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #E8E8E8 inset;
    color: #555555;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 25px;
    margin:0 3px 10px 5px;
    padding: 0 0 0 5px;
    width:80px !important;
}
.boxRegister input.txtsmall{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #E8E8E8 inset;
    color: #555555;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 25px;
    margin:0 3px 10px 5px;
    padding: 0 0 0 5px;
    width:80px;
}
.boxRegister select{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #E8E8E8 inset;
    color: #555555;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height:31px;
    margin:0 5px 10px 3px;
    padding:5px;
    width:70px;
}

.boxRegister textarea{
	height:80px;
}
.boxRegister span{
	color:#68a709;
	text-shadow: 1px 1px 0 #ececec;
	font-size:11px;
}
.regboxBottom{
	float:left;
	width:640px;
	padding:0 0 0 30px;
}
.capchaDiv{
	float:left;
	width:auto;
	height:30px;
	border:1px solid #ddd;
}
.registerMe {
	float:left;
	width:600px;
	margin:0 0 0 8px;
}
.registerMe .a {
	background:url(images/register.png) no-repeat scroll 0 0 transparent;
	color:#fff;
	float: right;
	font-size:12px;
	font-weight: bold;
	height:27px;
	padding:5px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px #67A30D;
	width:113px;
}

.registerMe .button
{
    background:url(images/register.png) no-repeat scroll 0 0 transparent;
	color:#fff;
	float: right;
	font-size:12px;
	font-weight: bold;
	height:27px;
	padding:5px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px #67A30D;
	width:113px;
}
.updatecartbutton1
{
}

.registerMe a:hover {
	text-decoration: none;
	color:#2f4e03;
}
small {
    color: #FF0000;
    vertical-align:top;
}
.compulsory {
	float:right;
    color: #434343;
	font-size:11px;
    padding:0 10px 3px 0;
    text-align: left;
}
.compulsory span {
    color: #FF0000;
}


/* order page */

/*.largeCol {
	float:right;
	width:990px;
}
.whiteboxLarge {
	float:left;
	background:#fff;
	width:976px;
	box-shadow: 0 0 5px #d1d1d1;
	border-radius:5px;
	margin:0 0 12px 0;
	padding:7px;
	border:1px solid #ddd;
}
.whiteboxLarge h1 {
	background:url(images/strip-bg.png) 0 0 repeat-x;
	float:left;
	width:956px;
	color:#FFF;
	font-size:14px;
	text-shadow: 1px 1px 0 #67a30d;
	font-weight:bold;
	border-radius:5px;
	box-shadow:0 0 5px #767676 inset;
	padding:3px 10px 7px 10px;
}
*/
.orderTable{
	float:left;
	width:699px;
	font-size:12px;
	padding:10px 0 0 0;
	text-align:left;
}

.orderTable td{
	padding:5px 5px;
	border-bottom:1px solid #dadada;
}

.orangeStrip{
	background: #fbcf37 url(images/orange-strip.png) 0 0 repeat-x;
	width:100%;
	height:25px;
	color:#654f00;
	font-size:12px;
	text-shadow: 1px 1px 0 #e4d49c;
	padding:0;
	margin:0;
}
.orderTable input.txtsmall {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #E8E8E8 inset;
    color: #555555;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 25px;
    margin:0;
    padding: 0 0 0 5px;
    width:50px;
}
.totalBottom{
	background:#f5f5f5;
}
.ordertitle{
	color:#ffc400;
	font-size:14px;
	font-weight:bold;
	text-shadow:none;
}
.greeText{
	color:#6cb00a;
}
.darkText{
	color:#7e7e7e;
}
.continueBtn a {
	background:url(images/continue-btn.png) 0 0 no-repeat;
	color:#fff;
	float: right;
	font-size:12px;
	font-weight: bold;
	height:27px;
	margin:10px 0 0 0;
	padding:5px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow:none;
	width:152px;
}
.continueBtn .continuebutton {
	background:url(images/continue-btn.png) 0 0 no-repeat;
	color:#fff;
	float: right;
	font-size:12px;
	font-weight: bold;
	height:27px;
	margin:10px 0 0 0;
	padding:5px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow:none;
	width:152px;
}

.continueBtn a:hover {
	text-decoration: none;
	color:#694904;
}

.bookTime .booktimeButton
{
    background:url(images/book-delivery-time.png) 0 0 no-repeat;
	color:#fff;
	float: right;
	font-size:12px;
	font-weight: bold;
	height:27px;
	margin:10px 0 0 10px;
	padding:5px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow:none;
	width:165px;
	}
.bookTime a {
	background:url(images/book-delivery-time.png) 0 0 no-repeat;
	color:#fff;
	float: right;
	font-size:12px;
	font-weight: bold;
	height:27px;
	margin:10px 0 0 10px;
	padding:5px 0 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow:none;
	width:165px;
}
.bookTime a:hover {
	text-decoration: none;
	color:#365801;
}

/* delivery time table */

.deliveryTime{
	background:#fff0bd;
	color:#4d4424;
	float:left;
	width:699px;
	font-size:12px;
	text-shadow:none;
	padding:0;
	margin:10px 0 0 0;
	text-align:center;
}
.deliveryTime td{
	padding:5px 5px;
	border-bottom:1px solid #fff;
}

.deliveryDay{
	background:#e1b931 url(images/day-bg.png) 0 0 repeat-x;;
	color:#fff;
	text-shadow:none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	AJAX CONTROL TOOLKIT - TAB CONTROL CLASSES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.orange
{
	font-family: arial,helvetica;
}

.orange .ajax__tab_body
{
	border: 1px solid #333;
	border-top: none;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
}

.orange .ajax__tab_header
{
	background-color: #333;
	border: solid 2px #333;
	border-bottom: none;
	padding: 2px 2px 4px 2px;
}

.orange .ajax__tab_tab
{
	font-size: 1em;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	border: solid 1px #FFF;
	padding: 5px;
	background: #404040;
}

.orange .ajax__tab_active .ajax__tab_tab, .orange .ajax__tab_hover .ajax__tab_tab
{
	color: #ff9933;
	border: solid 1px #ff9933;
}

/* GREY THEME */

.grey .ajax__tab_header
{
	font-family: "Helvetica Neue" , Arial, Sans-Serif;
	background: url(images/tab-line.png) repeat-x bottom;
	font-size: 12px;
	display: block;
}
.grey .ajax__tab_header .ajax__tab_outer
{
	background: url(images/tab.png) no-repeat left top;
	border-color: #222;
	color: #222;
	padding-left: 10px;
	margin-right: 3px;
}
.grey .ajax__tab_header .ajax__tab_inner
{
	background: url(images/tab.png) no-repeat right top;
	border-color: #666;
	color: #666;
	padding: 3px 10px 2px 0px;
}
.grey .ajax__tab_hover .ajax__tab_inner
{
	color: #000;
}
.grey .ajax__tab_active .ajax__tab_outer
{
	background: url(images/tab.png) no-repeat 0pt -40px;
	border-bottom-color: #ffffff;
}
.grey .ajax__tab_active .ajax__tab_inner
{
	background: url(images/tab.png) no-repeat right -40px;
	color: #000;
	border-color: #333;
}
.grey .ajax__tab_body
{
	font-family: arial,helvetica;
	background-color: #fff;
	border: solid 1px #d7d7d7;
	border-top-width: 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	CUSTOMER ACCOUNT

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.account-page
{
	margin-bottom: 15px;
	padding-bottom: 5px;
	padding-left: 0;
}

.account-page .page-title
{
    border-bottom: 0 none;
}

.account-page .body
{
	margin: 0px 0 0 0;
	padding: 0px 0 0 0;
	font-size: 11px;
	color: #555;
}

.customer-info-box
{
	margin: 0px 0 0 0;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	color: #555;
}

.customer-info-box .section-title
{
	padding: 10px 10px 5px 0px;
	font-weight: bold;
	clear: both;
	font-size: 12px;
}

.customer-info-box .section-body
{
	text-align: left;
	padding: 10px;
	border: 1px solid #d7d7d7;
	height: auto;
}

.customer-info-box .button
{
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
}

.customer-addresses
{
	margin: 0px 0 0 0;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	color: #555;
	background-color: inherit;
}

.customer-addresses .section-title
{
	padding: 10px 10px 5px 0px;
	font-weight: bold;
	clear: both;
	font-size: 12px;
}

.customer-addresses .address-list
{
}

.customer-addresses .address-list .address-item
{
	text-align: left;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #d7d7d7;
	height: auto;
}

.customer-addresses .add-button
{
	margin-bottom: 5px;
	margin-top: 5px;
	float: right;
	text-align: right;
}

.customer-orders
{
	margin: 0px 0 0 0;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	color: #555;
	background-color: inherit;
}

.customer-orders .recurring-payments
{
	padding: 10px 10px 5px 0px;
	width: 100%;
	clear: both;
}

.customer-orders .recurring-payments .section-title
{
	padding: 10px 10px 5px 0px;
	font-weight: bold;
	clear: both;
	font-size: 12px;
}

.customer-orders .recurring-payments .recurring-payments-box
{
	text-align: left;
	padding: 10px;
	border: 1px solid #d7d7d7;
	height: auto;
}

.customer-orders .order-list
{
}

.customer-orders .order-list .order-item
{
	text-align: left;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #d7d7d7;
	height: auto;
}

.customer-pass-recovery
{
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	color: #555;
	background-color: inherit;
}

.customer-rewardpoints
{
	margin: 0px 0 0 0;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	color: #555;
	background-color: inherit;
}

.customer-rewardpoints .section-title
{
	padding: 10px 10px 5px 0px;
	font-weight: bold;
	clear: both;
	font-size: 12px;
}

.customer-rewardpoints .reward-points-overview
{
	padding: 10px 10px 5px 0px;
	width: 100%;
}

.customer-rewardpoints .reward-points-history
{
	padding: 10px 10px 5px 0px;
	text-align: left;
	padding: 10px;
	border: 1px solid #d7d7d7;
	height: auto;
}


.order-progress
{
	height: 40px;
	margin: 0 auto;
	text-align: center;
	border-bottom: solid 2px #f3f3f3;
}

.order-progress ul
{
	padding: 0;
	margin: 0;
}

.order-progress ul li
{
	list-style: none;
	display: inline;
	padding: 5px 20px 0 20px;
}

.order-progress ul li .active-step
{
	color: #6a6a6a;
	background: url('images/progress-step-active.gif') no-repeat 50% 50%;
	padding-bottom: 40px;
	padding-right: 1px;
}

.order-progress ul li .inactive-step
{
	color: #d7d7d7;
	background: url('images/progress-step-inactive.gif') no-repeat 50% 50%;
	padding-bottom: 40px;
	padding-right: 1px;
}

.return-request
{
	margin-bottom: 15px;
	padding: 0px;
}
.return-request .page-title
{
	border-bottom: 0 none;
}
.return-request .section-addinfo
{
	padding: 10px 10px 5px 0px;
	font-weight: bold;
}
.return-request .products-box
{
	text-align: left;
	padding: 10px;
	border: 1px solid #d7d7d7;
	height: auto;
}
.return-request .why
{
}
.return-request .buttons
{
	
}

.customer-return-request-list
{
	margin: 0px 0 0 0;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	color: #555;
	background-color: inherit;
}
.customer-return-request-list .section-title
{
	padding: 10px 10px 5px 0px;
	font-weight: bold;
	clear: both;
	font-size: 12px;
}
.customer-return-request-list .request-list
{
}
.customer-return-request-list .request-list .request-item
{
	text-align: left;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #d7d7d7;
	height: auto;
}


.order-summary-content .totals 
{
    float: right;
    padding: 23px 5px 0 5px;
    width: 330px;
}

.boxHeading a
{
    color:White;
}

.image1
{
    height: 125px;
}
/* billing details */

.billingDetails{
	float:left;
	width:699px;
	font-size:12px;
	text-shadow:none;
	padding:0;
	margin:10px 0 0 0;
}
.billingDiv{
	width:340px;
}
.billingDiv-header{
	background:url(images/day-bg.png) 0 0 repeat-x;
	text-align:left;
	height:25px;
	color:#654F00;
	padding:0 0 0 10px;
}
.customerInfo{
	text-align:right;
	padding:0 10px 0 0;
	width:100px;
}
.billingleft{
	float:left;
	border:1px solid #e1ba32;
	margin:0 0 10px 0;
}
.billingright{
	float:right;
	border:1px solid #e1ba32;
	margin:0 0 10px 0;
}
.billingAddress{
	text-align:left;
	padding:5px;
	vertical-align:top;
}
.billingDecs{
	float:left;
	width:699px;
	border:1px solid #e1ba32;
}
.billingBottom{
	background: #e1ba32 url(images/day-bg.png) 0 0 repeat-x;
	float:left;
	width:699px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding:5px 0;
}
.billingBottom span{
	font-size:12px;
}
.billingTitle{
	float:left;
	width:699px;
	text-align:center;
	font-size:20px;
	padding:0 0 12px 0;
}

.advertisment{
	float:left;
	background:#063;
	width:990px;
	height:150px;
}
.whiteboxBg h2 {
    color: #67A30D;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 10px 7px;
    text-shadow: 1px 1px 0 #ECECEC;
    width:200px;
    
}
.datePicker{
	float:left;
	width:28px;
	height:28px;
}